
/* Cliente - Footer */

.footer{
  background-color: hsl;/* rgb(248, 240, 226); */
  padding: 20px;
  text-align: center;
}

footer .copyright {
  background-color: sk;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #ddd;
}

footer .secciones-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}

footer .section-contactos,
footer .section-redes-sociales,
footer .section-metodos-pago {
  flex: 1; 
  padding: 10px;
  text-align: left; 
  ;
}

.footer-webpay {
  text-align: left;
  width: 150px;
  height: 150px;
}



footer h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  color: whitesmoke;
}

footer p {
  margin: 0;
  color: #b6a9a9;
}

footer a {
  color: #b6a9a9;
  text-decoration: none;
  display: block; 
  margin-bottom: 5px;
}

footer a:hover {
  color: orange;
} 

/* Cuenta - fondo*/

.background{
  background: rgb(240, 238, 236);
  width: 100%;
  max-width: 1280px;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 8px;
  margin-right: 8px;
  margin: 50px;
} 

.background img{
  width: 110px;  
  height: 110px;
  border-radius: 50%;
  overflow-clip-margin: content-box;
  overflow: clip;
  margin: 20px;
}

.bienvenido {
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  margin: 20px;
}


/* Cuenta - navegacion*/

.panel-navegacion {
  margin: 50px;
  width: 500px;
}

.card {
  display: flex;
  flex-direction: row;
  padding: 20px;
  height: 60px;
  width: 500px;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.media-content {
  margin: 10px;
}

.field {
  margin-left: 500px;
}

/* Ciente - Navbar principal  */

/* Buscador de productos */
.form-inline input{
  background-color: white;
  margin-top: 20px;
  width: 450px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
}

/* navbar - logo ferremas */
.navbar-item img{
  max-height: 50px;
}

/* Botones - Ingresar y Carrito */
.navbar-item .buttons a:hover{
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
}


/* SUB-Navbar - categorias */
.navbar-menu{
  font-size: small;
  font-weight: bold;
}

.navbar-menu .navbar-item{
  font-size: small;
  font-weight: lighter;
}