
/* Carrito - Footer */

.footer{
  background-color: hsl;/* rgb(248, 240, 226); */
  padding: 20px;
  text-align: center;
}

footer .copyright {
  background-color: sk;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #ddd;
}

footer .secciones-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}

footer .section-contactos,
footer .section-redes-sociales,
footer .section-metodos-pago {
  flex: 1; 
  padding: 10px;
  text-align: left; 
  ;
}

.footer-webpay {
  text-align: left;
  width: 150px;
  height: 150px;
}



footer h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  color: whitesmoke;
}

footer p {
  margin: 0;
  color: #b6a9a9;
}

footer a {
  color: #b6a9a9;
  text-decoration: none;
  display: block; 
  margin-bottom: 5px;
}

footer a:hover {
  color: orange;
} 



/* Body - fuentes
------------------------------------------*/

body{
  min-height: 100vh;
  vertical-align: middle;
  display: flexbox;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}

/* Carro de compras - Columna Productos
------------------------------------------*/

.title{
  margin-bottom: 5vh;
  color: black;
}

.card{
  margin: auto;
  margin-top: 20px;
  max-width: 1250px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}

.info-producto{

  border-top: 2px solid lightgray;
}

.info-producto li {
  display: flex; /* Activar flexbox para el elemento li */
  align-items: center; /* Alinear verticalmente el contenido */
  border-bottom: 1px solid #ccc; /* Agregar una línea divisoria entre elementos */
  padding: 10px; /* Agregar espacio alrededor del contenido */
}

.informacion-producto{
  flex: 1;
}

.informacion-producto p{
  color: black;
  font-weight: 100;
}

.informacion-producto a{
  color: red;
  font-weight: lighter;
  margin: 0;
}


.acciones-producto{
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

.acciones-producto p{
  color: #333;
  padding: 2vh 0;
  margin-left: 5px;
}

.acciones-producto button{
  margin-left: 10px;
  margin-right: 10px;
  
  width: 30px;
  height: 30px;
}

.informacion-importante{
  color: red;
  text-align:  center;
}


/* Carro de compras - Productos
------------------------------------------*/

.cart{
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

/* Carro de compras - Resumen de compra
------------------------------------------*/




.summary{
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}

.summary b {
  font-weight: bold;
  font-size: large;
}

.summary .col-2{
  padding: 0;
}
.summary .col-10
{
  padding: 0;
}.row{
  margin: 0;
}
.title b{
  font-size: 1.5rem;
}
.main{
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}
.col-2, .col{
  padding: 0 1vh;
}
a{
  padding: 0 1vh;
}
.close{
  margin-left: auto;
  font-size: 0.7rem;
}
img{
  width: 3.5rem;
}
.back-to-shop{
  margin-top: 4.5rem;
}
h5{
  margin-top: 4vh;
}
hr{
  margin-top: 1.25rem;
}
form{
  padding: 2vh 0;
}
select{
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
input{
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder
{
    color:transparent;
}
.btn{
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}
.btn:focus{
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none; 
}
.btn:hover{
  color: white;
}
a{
  color: black; 
}
a:hover{
  color: black;
  text-decoration: none;
}

/* carrito de compras  */


/* Carrito - Navbar principal  */

/* Buscador de productos */
.form-inline input{
  background-color: white;
  margin-top: 20px;
  width: 450px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
}

/* navbar - logo ferremas */
.navbar-item img{
  max-height: 50px;
}

/* Botones - Ingresar y Carrito */
.navbar-item .buttons a:hover{
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
}


/* SUB-Navbar - categorias */
.navbar-menu{
  font-size: small;
  font-weight: bold;
}

.navbar-menu .navbar-item{
  font-size: small;
  font-weight: lighter;
}

/* Usuario logeado */
.usuario-navbar{
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  font-size: medium;
}

.usuario-navbar h1{
  color: black;
  font-weight: bold;

}
