
/* Cliente - Footer */

.footer{
  background-color: hsl;/* rgb(248, 240, 226); */
  padding: 20px;
  text-align: center;
}

footer .copyright {
  background-color: sk;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #ddd;
}

footer .secciones-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}

footer .section-contactos,
footer .section-redes-sociales,
footer .section-metodos-pago {
  flex: 1; 
  padding: 10px;
  text-align: left; 
  ;
}

.footer-webpay {
  text-align: left;
  width: 150px;
  height: 150px;
}



footer h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  color: whitesmoke;
}

footer p {
  margin: 0;
  color: #b6a9a9;
}

footer a {
  color: #b6a9a9;
  text-decoration: none;
  display: block; 
  margin-bottom: 5px;
}

footer a:hover {
  color: orange;
} 



/* Ciente - Navbar principal  */

/* Buscador de productos */
.form-inline input{
  background-color: white;
  margin-top: 20px;
  width: 450px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
}

/* navbar - logo ferremas */
.navbar-item img{
  max-height: 50px;
}

/* Botones - Ingresar y Carrito */
.navbar-item .buttons a:hover{
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
}


/* SUB-Navbar - categorias */
.navbar-menu{
  font-size: small;
  font-weight: bold;
}

.navbar-menu .navbar-item{
  font-size: small;
  font-weight: lighter;
}


/* Mi Perfil - container principal */

.contenedor-perfil{
  background-color: lightgray;
  border-radius: 15px;
  height: 700px;
  width: 1600px;
  margin: 50px auto;
  padding: 50px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  display: flex;
}

/* Cliente - Barra lateral */

.barra-lateral{
  border-radius: 15px;
  background-color: white;
  padding: 20px;
}

.barra-lateral a:hover{
  color: orange;
}

.barra-usuario{
  border-bottom: 2px solid lightgray ;
  margin: 10px;
  margin-bottom: 20px;
  padding: 5px;
}

.barra-usuario h1{
  font-weight: bold;
  color: black;
}

.media-content p{
  margin: 2 auto;
}


/* Cliente - datos cliente */

.seccion-perfil{
  border-radius: 15px;
  background-color: white;
  text-align: left;
  width: x; /* Ajustar el ancho deseado (en píxeles) */
  margin-top: 0 auto; 
  margin-bottom: 0 auto; 
  margin-left: 50px;
  padding: 30px;
}

.seccion-perfil h2{
  font-weight: bold;
  color: black; 
  border-bottom: 2px solid lightgray ;
  padding-bottom: 5px;
}

.datos-perfil p{
  font-weight: 400;
  color: black;
}


.field{
  margin: 10px;
  padding: 10px;

}

.field label{
  color: black;
}

.nombre-apellido {
  display: flex; /* Activar flexbox para el contenedor de nombre y apellido */
  justify-content: space-between; /* Distribuir espacio entre nombre y apellido */
}

.nombre-apellido p {
  margin-right: 20px; /* Agregar espacio a la derecha del apellido */
}









