{% extends 'base.html' %}
{% block title %}Ferremas - Perfil{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style_cliente.css') }}">{% endblock %}
{% block content %}

  <div class="contenedor-perfil">

        <!-- Barra lateral -->
        <div class="barra-lateral"> 
          <div class="barra-usuario">
            <h1>Bienvenido, {{ usuario }}</h1>
          </div>

          <div class="card"> <!--Datos personales-->
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <i class="bi bi-person-circle"></i>
                </div>
                <div class="media-content">
                  <a class="title is-5" href="{{ url_for('bp.cliente') }}">Mi perfil</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card"> <!--Cerrar sesión-->
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <i class="bi bi-power"></i>
                </div>
                <div class="media-content">
                  <a class="title is-5" href="{{ url_for('bp.logout') }}">Cerrar sesión</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Mi perfil - datos personales-->

        <fieldset disabled>

          <div class="seccion-perfil">
            <h2>Mi perfil</h2>
            
            <div class="datos-perfil">
  
            <div class="nombre-apellido">
  
              <div class="field">
                <label class="label">Nombre</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Juan">
                </div>
              </div>
  
              <div class="field">
                <label class="label">Apellido</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Perez">
                </div>
              </div>
  
            </div>
              
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input class="input" type="email" placeholder="ej. JuanPerez@ferremas.com">
                </div>
              </div>
    
              <div class="field">
                <label class="label">
                  Telefono
                </label>
                <div class="control">
                  <input class="input" type="email" placeholder="+56 9 1234 5678">
                </div>
              </div>
    
              <div class="field">
                <label class="label">RUT</label>
                <div class="control">
                  <input class="input" type="email" placeholder="12.345.678-2">
                </div>
              </div>
            </div>
            
          </div>

        </fieldset>
        
      </div>



{% endblock %}

